.navigation {
    display:flex;
    list-style: none;
    width: 100%;
    background-color: #e6e6e6;
    padding:0;
    li{
        padding:10px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        &:hover {
            color: red
        }
    }
}
body {
    margin: 0;
    padding: 0;
}